{% extends 'base.html' %}
{% block title %}
 Home Target computer
{% endblock %}
{% block head %}
 <link rel="stylesheet"href="{{url_for('static',filename='home.css')}}">
{% endblock %}
{% block content %}
<div class="mainimg">
    <img src="{{url_for('static',filename='target.jpg')}}">
</div>
<h2 class="callcourse" id="callcourse"><a href="">Courses</a></h2>
<div class="courses">
    <div class="row1">
        <div class="course1">
            <img src="{{url_for('static',filename='icon.png')}}">
            
            <div class="courseinfo">
                <h3>Dca</h3>
                <p>
                    Get this full course  <br>
                    at affordable price.<br>
                    This course is combo pack<br>
                    contains many courses like<br>
                    Notepad,Wordpad,Ms-access,<br>
                    powerpoint,Ms-excel,<br>
                    Touch typing and many more
                 </p>
                 <h6>Register Now</h6>
            </div>
        </div>  
        <div class="course1">
            <img src="{{url_for('static',filename='icon.png')}}">
            <div class="courseinfo">
                <h3>Dca</h3>
                <p>
                    Get this full course  <br>
                    at affordable price.<br>
                    This course is combo pack<br>
                    contains many courses like<br>
                    Notepad,Wordpad,Ms-access,<br>
                    powerpoint,Ms-excel,<br>
                    Touch typing and many more
                 </p>
                 <h6>Register Now</h6>
            </div>
      
        <div class="course1">
            <img src="{{url_for('static',filename='icon.png')}}">
            <div class="courseinfo">
                <h3>Dca</h3>
                <p>
                    Get this full course  <br>
                    at affordable price.<br>
                    This course is combo pack<br>
                    contains many courses like<br>
                    Notepad,Wordpad,Ms-access,<br>
                    powerpoint,Ms-excel,<br>
                    Touch typing and many more
                 </p>
                 <h6>Register Now</h6>
            </div>       
        </div>
        
    </div>
</div>

<div class="row2">
    <div class="course2">
        <img src="{{url_for('static',filename='icon.png')}}">
   
    </div>
    <div class="course2">
        <img src="{{url_for('static',filename='icon.png')}}">

    </div>
    <div class="course2">
        <img src="{{url_for('static',filename='icon.png')}}">
    </div>
</div>
<div class="courseinformation">
    <div class="courseinfo2">
        <h3>Dca</h3>
        <p>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
         </p>
         <h6>Register Now</h6>
    </div>  
    <div class="courseinfo2">
        <h3>Dca</h3>
        <p>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
        <h6>Register Now</h6>
    </div>  
    <div class="courseinfo2">
        <h3>Dca</h3>
        <p>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
         </p>
         <h6>Register Now</h6>
    </div>  
</div>





 
{% endblock %}
{% block footer %}
<div class="upperfooter">
    <p><a href="">Back to top</a></p>
</div>
<div class="footer">
    <div class="col">
        <h4>Services</h4>
        <p><a href="">Home</a></p>
        <p><a href="">Courses</a></p>
        <p><a href="">Pricing</a></p>
        <p><a href="">FAQs</a></p>
        <p><a href="">About</a></p>
    </div>
    <div class="col">
         <h4>Courses</h4>
         <p><a href="">Dca</a></p>
         <p><a href="">Adca</a></p>
         <p><a href="">Tally</a></p>
         <p><a href="">C++</a></p>
         <p><a href="">Ms-Excel</a></p>
         <p><a href=""></a></p>
         <p><a href=""></a></p>
    </div>
    <div class="col">
        <h4>Contact US</h4>
        <p><a href="">Mobile:-9113367466</a></p>
        <p id="email"><a href="">Email:-Sachinkumarsingh51110@gmail.com</a></p>
    </div>
    <div class="col developer">
        <h2>About Developer</h2>
        <p>This website is freely<br>
           build and deployed by<br>
           sachin kumar singh<br>
           A Full-Stack Web Developer
            
        </p>
    </div>
 
</div> 
{% endblock %}